*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    background-color: navajowhite;
    height: 350px;
    width: 500px;
    line-height: 30px;
}
.container h1{
    background-color: aqua;
    color: blue;
    margin: 5px 10px 5px 10px;
}
.hovaten{
    padding-right: 30px;
}