.container{
    margin-left: 200px;
}
.content{
    width: 30%;
    float: left;
}
.content1{
    width: 25%;
    float: left;
}
.content2{
    width: 25%;
    float: left;
    /*display: inline;*/
}
.content3{
    width: 20%;
    float: left;
    padding-top: 55px;
}
.content3 button{
    width: 100px;
}