.container{
    margin: auto;
}
.container h2{
    text-align: center;
}
.container table{
    border-collapse: collapse;
    margin: auto;
    width: 30%;
}
.container table, td, th{
    border: 1px solid black;
}
.container td:nth-child(2){
    text-align: center;
}
.container tr:nth-child(2){
    text-align: center  ;
}
.content{
    text-align: center;
    padding-top: 20px;
}
