*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%  ;
    background-color: navajowhite;
    margin: auto;
}
.container h1{
    text-align: center;
}
.container table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    height: 100px;
}
.container table, th, td{
    border: 1px solid black;
}
.color{
    background-color: yellow;
}
.content1{
    float: left;
    margin-left: 30px;
}
.content2{
    float: right;
    margin-right: 30px;
}
.hang1{
    background-color: yellow;
}
.hang2{
    background-color: chocolate;
}